.plant-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 10px;
    font-family: Roboto;
    color: var(--default-text-color);
}
.plant-data-container{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 50px;
    font-size: clamp(1.06rem,6vw,1.1rem);
    line-height: 2.21rem;
}
.plant-data-sub-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 15px;

}
.plant-images-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    width: 100%;
    justify-items: center;
    border: 1px solid red;
}
.plant-img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border: 2.5px black solid;
}
/*
li{
    border: red solid 1px;
}
*/
@media(max-width:1700px) and(min-width:1401px){
    .plant-images-container{
        grid-template-columns: repeat(6,1fr);
    }
}
@media(max-width:1400px) and (min-width:1101px){
    .plant-images-container{
        grid-template-columns: repeat(5,1fr);
    }
}
@media(max-width:1100px) and (min-width:1001px){
    .plant-images-container{
        grid-template-columns: repeat(4,1fr);
    }
}
@media(max-width:1000px) and (min-width:801px){
    .plant-images-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:800px) and (min-width:601px){
    .plant-images-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:600px){
    .plant-images-container{
        grid-template-columns: repeat(1,1fr);
    }
}