@font-face {
    font-family: Roboto;
    src: url(Nature-s-Deck\fonts\Roboto-VariableFont_wdth,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 2.1rem;
}
body{
    padding: 80px 0px;
    background-color: #1e272e;
    overflow-x: hidden;
    --default-text-color:white;
}
.main-bar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 90;
    flex-wrap: wrap;
}
.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: black;
    z-index: 100;
    display: none;
}
.side-bar-wrapper{
    display: flex;
    flex-direction: column;
}
.side-bar-list{
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 0px;
    list-style-type: none;
}
.main-bar-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.nav-bar-elements{
    font-size: larger;
    font-weight: bolder;
    padding: 10px;
    color: white;
    text-align: center;
    transition: color 0.15s, background-color 0.15s;
}
.nav-bar-elements:hover{
    background-color: #2d3436;
    color: #00aeff;
}
.a-removed-style{
    text-decoration: none;
    color: inherit;
}
.menu-icon{
    color: #54a0ff;
    font-size: 4rem;
    display: none;
}

.menu-icon:hover,.cancel-icon:hover{
    cursor: pointer;
}
.cancel-icon{
    font-size: 5rem;
    color: white;
}
.hide-on-mobile{
    display: inline-block;
}
.side-bar-enabled{
    display: inline-block;
}
.card-section{
    display: flex;
    justify-content: center;
}
.card-container{ /* Container to contain all the cards */
    display: grid;
    grid-template-columns: repeat(3,300px);
    justify-items: center;
    align-items: flex-start;
    gap: 50px;
    margin: 5% 0px;
}
.card{ /* Card CSS */
    max-width: 300px;
    width: 100%;
    transition: box-shadow 0.15s,transform 0.15s;
    flex: 1 1 0;
    flex-wrap: wrap;
    min-width: 150px; 
    position: relative; /* Ensure the ::after pseudo-element is positioned relative to .card */
}
.card::after{
    content: '';
    background-color: black;
    height: 0px;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    transition: 180ms ease-in-out ;
}
.card:hover::after{
    height: 100%;
}
.card:hover{ 
    box-shadow: 2px 2px 10px black;
    transform: scale(1.05);
}
.card-image-container{ /* Container to contain card's image */
    max-width: 300px;
    width: 100%;
    min-width: 150px;
    max-height: 200px;
    height: 200px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8px;
    z-index: 1;
}
.card-image{ /* Cards's image */
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: inherit;
}
.text-align-center{
    text-align: center;
}
.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content{ /* Contains card's content */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.card-details{ /* Contain's card's details/description */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: inherit;
}
.read-more-btn{ /* Button to show details */
    text-align: center;
    background-color: #292f33;
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 10px;
    transition: box-shadow 0.15s, transform 0.15s;
    display: inline-block;
    margin-bottom: 5px;
    
}
.read-more-btn:hover{
    box-shadow: 2px 2px 10px black;
    transform: scale(1.02);
    cursor: pointer;
}
.card-name{ /* Card's name text */
    color: white;
    text-align: center;
    z-index: inherit;
}
.color-white{
    color: white;
}
.object-position-center{
    object-position: center;
}
.object-position-left{
    object-position: left;
}
.overview-container,.contents-container,.questions-container{
    margin-bottom: 20px;
    
}
.overview-heading,.contents-heading,.questions-heading{
    color: white;
    font-size: 1.875rem;
    font-weight: bolder;
    background-color: #4b6584;
    padding: 8px 15px;
    margin-bottom: 8px;
}
.overview-heading:hover,.contents-heading:hover,.questions-heading:hover{
    cursor: pointer;
}
.over-view-text,.question-text{
    font-size: 0.938rem;
    color: white;
    font-family: Roboto-Light;
    margin: 0px 15px 10px 15px;
}
.contents-content{ /* Contains the content about the content section and acts as a colorful b.g */
    background-color: #8395a7;
    width: 300px;
    padding: 2px;
    transition: box-shadow 0.15s , transform 0.15s;
}
.contents-content:hover{
    box-shadow: 2px 2px 10px black;
    transform: scale(1.05);
}
.contents-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;

}
.contents-text-container{
    border: solid black 2px;
    vertical-align: top;
    padding: 8px;
    transition: box-shadow 0.15s,background-color 0.15s,transform 0.15s;
    margin: 0px;
}
.contents-text-container:hover{
    box-shadow: 2px 2px 10px black;
    background-color: grey;
}
.contents-text-container:active{
    transform: scale(0.98);
}
.contents-text{
    font-size: 1.25rem;
    color: white;
    font-family: Roboto-Light;
    margin: 0px;
    padding: 0px;
}
.question-contents{
    margin: 0px;
    padding: 0px;
}
.question{
    margin: 20px 0px;
}
.question:hover{
    cursor: pointer;
}
.question-title{
    font-size: 1.125rem;
    font-weight: bold;
    background-color: #718093;
    color: white;
    padding: 8px 4px;
}
.font-family-roboto{
    font-family: Roboto-Light;
}
.get-started-container{
    margin: 150px 0px 80px 0px;
    clear: both;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.decoration-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.float-image-container{
    overflow: hidden;
}
.float-image-text{
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}
.about-me-section{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto-Light;
    text-align: center;
    padding: 30px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px green solid;
    padding: 20px 40px;
    flex-wrap: wrap;
}
.pagination ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    flex: 1 1 0;
    max-width: max-content;
    border: red solid 1px;
}
.pagination a{
    text-decoration: none;
    color: inherit;
}
.pagination-link{
    border-radius: 50%;
    border: 1px black solid;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.1rem, 5vh, 1.4rem);
    color: white;
    flex: 1 1 0;
    background-position: 0 -45px;
    transition: background-color 0.15s , background-position 0.5s;
}
.pagination-link:hover{
    cursor: pointer;
}
.pagination-link:hover:not(.active-pagination-link){
    background-color: #333c44;
   
}
.pagination-arrow-links{
    color: white;
    font-size: clamp(1.4rem, 5vh, 2rem);
    text-align: center;
    display: flex;
    align-items: center;
    transition: color 0.15s;
}
.pagination-arrow-links:hover{
    color: gray;
}
.active-pagination-link{
    background-image: linear-gradient(#4664b5, #3152a4,#6a89cc,#4b6397);
    background-position: 0 0;
}
.no-results-heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--default-text-color);
    text-align: center;
}
@media (max-width:800px) {
    .card-container{
        grid-template-columns: 1fr; /*make one card show horizontally only*/
    }
    .menu-icon{
        display: block;
    }
    .hide-on-mobile{
        display: none;
    }
}
@media (max-width:1100px) and (min-width:801px) {
    .card-container{
        grid-template-columns: repeat(2,1fr); /*make one card show horizontally only*/
    }
    .menu-icon{
        display: block;
    }
    .hide-on-mobile{
        display: none;
    }
}